<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script src="static/jquery.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app" >
      <div id="approot">
      <!--这里是配置抽屉-->
      <el-drawer
      title="配置"
      :visible.sync="drawer"
      size='180px'>
      <el-collapse v-model="activeNames" >
        <el-collapse-item title="apitoken" name="1">
          <el-row>
            <el-col>
              <el-input  v-model="apitoken" >
              </el-input>
            </el-col>
            <el-col>
            <el-button size=small  v-on:click="apitokensave">
            保存
            </el-button>
            </el-col>
          </el-row>
        </el-collapse-item>
        <el-collapse-item title="表格字段" name="2">
        
        <el-row><el-button v-on:click="configsaver">保存配置</el-button></el-row>
        <el-row><el-button v-on:click="configgetter">获取配置</el-button></el-row>
        <el-row>
          <el-row><el-checkbox v-model="config.isblockidshow" >显示ID</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.istypeshow" >显示类型</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.issubtypeshow" >显示子类型</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.isparentidshow" >显示父ID</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.isrootidshow" >显示文档ID</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.isboxshow" >显示笔记本</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.ispathshow" >显示文档路径</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.ismarkdownshow" >显示markdown</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.iscontentshow" >显示纯文本</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.iscreatedshow" >显示创建时间</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.isupdatedshow" >显示更新时间</el-checkbox></el-row>
          <el-row><el-checkbox v-model="config.ismemoshow" >显示备注</el-checkbox></el-row>         
          <el-row><el-checkbox v-model="config.isnameshow" >显示命名</el-checkbox></el-row>          
          <el-row><el-checkbox v-model="config.isaliasshow" >显示别名</el-checkbox></el-row>        
        </el-row>
        </el-collapse-item>
        </el-collapse>       
        </el-drawer>



        <el-row>
          <el-col>
            <el-switch  
            v-model="issqlon"
            active-text="SQL模式"
            inactive-text="界面选择模式"
            active-color="#13ce66"
            ></el-switch>
            <el-button size=small style="height: 100%;"  @click="drawer = true">开始配置</el-button>
          </el-col>
          <el-col>
            <el-row
              v-if = "!issqlon">
              <el-button size=small v-on:click="domdatashower">自选择集添加块</el-button>
              <el-button size=small v-on:click="attrdataclear('all')">清空当前块集合</el-button>
              <el-button size=small v-on:click="idquerysaver">保存当前块集合</el-button>
              <el-button size=small v-on:click="idquerydatashower">获取保存的块集合</el-button>
              <el-switch  
              v-model="mergeflag"
              active-text="增量选择模式"
              active-color="#13ce66"
              ></el-switch>
            </el-row>
            <el-row
            v-if = "issqlon">
              <el-row>
                <el-link type="info">select * from blocks where</el-link>
              </el-row>
              <el-row>
                <el-input v-model="sqlstring" type="textarea">
                </el-input>
              </el-row>                   
              <el-row>
                    <el-button  size=small v-on:click="sqlattrsave(sqlstring)">保存当前sql</el-button>
                    <el-button  size=small v-on:click="sqlnew">获取保存的sql</el-button>
                    <el-button  size=small  icon="el-icon-search" v-on:click="sqlattrgetter(sqlstring)"></el-button>
              </el-row>
            </el-row>
          </el-col>
        </el-row>

        <el-table
        :data="attrdata"
        height="600"
        empty-text="我的推荐码是N2p37W6">

        <el-table-column>

        <el-table-column
        width = 50
        v-if = !issqlon>       
          <template slot-scope="scope" >
            <el-button
            size = "mini" v-on:click="attrdataclear(scope.row.id)">
              -
            </el-button>
          </template>
        </el-table-column>

        <!-- 此处需要重写自定义属性的获取方法 -->
        <el-table-column
        style="margin:0%;padding: 0%" type="expand" >
        <template slot-scope="scope"  > 
          <el-container
          style = "margin:0%;padding: 0%;">
            <el-main style = "margin:0%;padding: 0%;" >
            <el-table
            :data="scope.row.customattrarry"
            style="margin:0%;padding: 0%;"
            :show-header= "false"
            empty-text="无自定义属性">
            <el-table-column
              label="属性名"
              prop="属性名"
              sortable>
              <template slot-scope="scope" >
                <el-input size="mini"  v-model="scope.row.属性名" type="textarea" autosize disabled>
                </el-input>
              </template>
            </el-table-column>
            <el-table-column
            label="属性值"
            prop="属性值"
            sortable>
              <template slot-scope="scope" >
                <el-input size="mini"  v-model="scope.row.属性值" type="textarea" autosize >
                </el-input>
              </template>
            </el-table-column>
            <el-table-column
            prop="id"
            v-if="false"
            >
            </el-table-column>
            <el-table-column fit width=50>
              <template slot-scope="scope" >
              <el-button size="small" v-on:click="customdeleter(scope.row.id,scope.row.属性名,'customattrarry')">-</el-button>
              </template>
            </el-table-column>
            </el-table>
            <el-table
            :data="scope.row.tempcustomattrarry"
            style="margin:0%;padding: 0%;"
            :show-header= "false"
            empty-text="点击右方-删除属性，点击下方+新增属性，空属性名与空属性值会被忽略">
            <el-table-column
              label="属性名"
              prop="属性名"
              sortable>
              <template slot-scope="scope" >
                <el-form>
                <el-input size="mini"  v-model="scope.row.属性名" type="textarea" autosize >
                </el-input>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column
            label="属性值"
            prop="属性值"
            sortable>
              <template slot-scope="scope" >
                <el-input size="mini"  v-model="scope.row.属性值" type="textarea" autosize >
                </el-input>
              </template>
            </el-table-column>
            <el-table-column
            prop="id"
            v-if="false"
            >
            </el-table-column>
            <el-table-column fit width=50 >
              <template slot-scope="scope" >
              <el-button size="small" v-on:click="customdeleter(scope.row.id,scope.row.属性名,'tempcustomattrarry')">-</el-button>
              </template>
            </el-table-column>
            </el-table>
          </el-main>
            <el-footer>
              <el-button
              style = "width:30%" v-on:click="cusattrappender(scope.row.id,scope.row.tempcustomattrarry)">
                添加
              </el-button> 
              <el-button
              style = "width:30%" v-on:click="customsetters(scope.row.id)">
                确定
              </el-button> 
            </el-footer>
          </el-container>
        </template>
        </el-table-column>
      </el-table-column>


        <el-table-column
          prop="id"
          label="内容块ID"
          fit
          fix
          v-if="config.isblockidshow"
          sortable>
        </el-table-column>

        <el-table-column
          prop="type"
          label="内容块类型"
          fit
          v-if="config.istypeshow"
          sortable>
        </el-table-column>
         <el-table-column
         prop="subtype"
         label="内容块子类型"
         fit
         v-if="config.issubtypeshow"
         sortable>
        </el-table-column>
        <el-table-column
          prop="parent_id"
          label="父块ID"
          fit
          v-if="config.isparentidshow"
          sortable>
        </el-table-column>
        <el-table-column
          prop="box"
          label="所在笔记本"
          fit
          v-if="config.isboxshow"
          sortable>
        </el-table-column>
        <el-table-column
          prop="path"
          label="所在文档路径"
          fit
          v-if="config.ispathshow"
          sortable>
        </el-table-column>
        <el-table-column
        prop="root_id"
        label="所在文档ID"
        fit
        v-if="config.isrootidshow"
        sortable>
      </el-table-column>
        <el-table-column
          prop="created"
          label="创建时间"
          fit
          v-if="config.iscreatedshow"
          sortable>
        </el-table-column>        
        <el-table-column
          prop="updated"
          label="更新时间"
          fit
          v-if="config.isupdatedshow"
          sortable>
        </el-table-column>
        <el-table-column
        prop="markdown"
        label="markdown"
        fit
        v-if ="config.ismarkdownshow"
        sortable>
      </el-table-column>
      <el-table-column
      prop="content"
      label="文本"
      fit
      v-if ="config.iscontentshow"
      sortable>
    </el-table-column>


        <el-table-column
          prop="name"
          label="命名"
          fit
          v-if ="config.isnameshow"
          sortable>
          <template slot-scope="scope" >
            <el-input size="small"  v-model="scope.row.name">
            </el-input>
            <el-button  v-on:click="setters(scope.row,'name',scope.row.name)">提交</el-button>  
          </template>
        </el-table-column>
        <el-table-column
          prop="alias"
          label="别名"
          fit
          v-if ="config.isaliasshow"
          sortable>
          <template slot-scope="scope" >
            <el-input size="small"  v-model="scope.row.alias" type="textarea">
            </el-input>
            <el-button  v-on:click="setters(scope.row,'alias',scope.row.alias)">提交</el-button>  
          </template>
        </el-table-column>
        <el-table-column
          label="备注"
          fit
          v-if ="config.ismemoshow"
          sortable>
          <template slot-scope="scope" >
            <el-input size="small"  v-model="scope.row.memo" type="textarea">
            </el-input>
            <el-button  v-on:click="setters(scope.row,'memo',scope.row.memo)">提交</el-button>  
          </template>
        </el-table-column>

      
      </el-table>
      </div>    
    </div> 
</body>
<script class="vues">
    var vm = new Vue({
        el: '#app',
        mounted: function() {
          this.selfid = self.frameElement.parentElement.parentElement.getAttribute('data-node-id')
          this.apitoken = self.frameElement.parentElement.parentElement.getAttribute('custom-apitoken')
          this.sqlstring = self.frameElement.parentElement.parentElement.getAttribute('custom-sql')
          console.log(this.selfid)
          console.log(this.sqlstring)
          console.log(this.apitoken)
        },
        data() {
          return {
            drawer:false,
            //临时存储返回的自定义属性对象
            selfid:"",
            apitoken:"apitoken",
            tempcusattr: {},
            config:{
            isblockidshow:true,
            istypeshow:true,
            issubtypeshow:false,
            isparentidshow:false,
            isboxshow:false,
            ispathshow:false,
            isrootidshow:false,
            iscrshow:false,
            isupdatedshow:false,
            ismarkdownshow:false,
            isbaseattrshow:false,
            isaliasshow:false,
            ismemoshow:false,
            iscreatedshow:false,
            isnameshow:false,
            iscontentshow:false,
            },
            activeNames:1,
            //是否为sql选择模式
            issqlon : false,
            //是否为增量选择模式
            mergeflag : false,
            //临时存储sql来源的数据
            sqltemp :[],
            //存储sql来源的数据
            sqldata :[],
            //存储sql来源的属性
            sqlattr :[],
            //存储sql筛选条件，默认值为筛选块所在笔记//
            sqlstring: "id='20210731093633-ng0ismu' or id ='20210730113821-dybssx2'",
            //汇总显示属性值
            attrdata:[],
            //储存dom来源的数据id（用于写入到挂件块本身来持久化选择集）
            dominputid:[],
            //储存dom类型字段与块中文名的映射
            domtypetable: {
              NodeHeading :"标题块",
              NodeMathBlock :"数学公式块",
              NodeCodeBlock : "代码块" ,
              NodeList : "列表块", 
              NodeListItem : "列表项块" ,    
              NodeTable : "表格块",      
              NodeBlockquote : "引述块",      
              NodeSuperBlock : "超级块", 
              NodeParagraph : "段落块",     
            },
            ///储存blocks表type字段与块中文名的映射
            blocktypetable:{
              d :"文档块",
              h :"标题块",
              l :"列表块",
              i :"列表项块",
              c :"代码块",
              m :"数学公式块",
              t :"表格块",
              b :"引述块",
              s :"超级块",
              p :"段落块", 
            },
                        //储存是否显示自定义属性

            blocklabeltable:{
              id: "内容块ID" ,
              parent_id: "父块ID",
              previous_id: "前块的 ID",
              next_id: "后块的 ID",
              root_id: "根块 ID",
              box: "笔记本名",
              path: "内容块所在文档路径",
              name: "内容块名称",
              alias: "内容块 别名",
              memo: "内容块备注",
              content: "去除了 Markdown 标记符的文本",
              markdown: "包含完整 Markdown 标记符的文本",
              length: "Markdown 文本长度",
              type: "类型",
              subtype: "子类型 ",
              ial:"内联属性列表",
              sort: "排序用，数值越小排序越靠前",
              created: "创建时间",
              updated: "更新时间",
            },
            //储存是否显示自定义属性
            iscustomattrshow : false,
            }
        }, 
        methods: {
          idquerysaver:async function(){
            let idquery = this.dominputid
            let idqueryobj ={}
            for (i=0;i<idquery.length;i++){
              idqueryobj["id"+i] = idquery[i]
            }
            let datas = {}
            datas["id"] = this.selfid
            datas["attrs"] = {}
            datas["attrs"]["custom-idquery"]= JSON.stringify(idqueryobj)
            await this.attrposter(datas)
            console.log(idquery,idqueryobj)
          },        
          configgetter:async function(){
            cusattr = await this.sqlcusgetter(this.selfid)
            tempconfig = cusattr["custom-config"]
            console.log("configget",tempconfig)
            this.config = JSON.parse(tempconfig)
          },
          configsaver:async function(){
            let datas = {}
            datas["id"] = this.selfid
            datas["attrs"] = {}
            datas["attrs"]["custom-config"]= JSON.stringify(this.config)
            await this.attrposter(datas)
          },
          sqlnew:async function(){
            cusattr = await this.sqlcusgetter(this.selfid)
            temp = cusattr["custom-sql"]
            console.log("custom-sql",temp)
            this.sqlstring = temp
          },
          //用于以字符串规则提取块数据和块属性
          apitokensave: function(){
            this.selfid = self.frameElement.parentElement.parentElement.getAttribute('data-node-id')
            let datas = {}
            datas["id"] = this.selfid
            datas["attrs"] = {}
            datas["attrs"]["custom-apitoken"]= this.apitoken
            this.attrposter(datas)
          },
          sqlcusgetter: async function(id){
            let jsondatas = {"id" : id}
            this.tempcusattr = []
            await axios({
              method:'POST',
              url:'http://127.0.0.1:6806/api/attr/getBlockAttrs',
              headers:{'Authorization': 'Token' + this.apitoken},
              data:(jsondatas)
              }).then(result =>{
              this.tempcusattr = result.data["data"]
              console.log("getterresult",result);
              console.log("dataitem",this.tempcusattr);
              })
            return this.tempcusattr
          },
          cusattrrefactor:async function(tempid){
            let tempcusattr = await  this.sqlcusgetter(tempid)
            let tempattrarry = []
            for(属性名 in tempcusattr){
              if (属性名.slice(0,6)=="custom"){
              let 属性值 = tempcusattr[属性名]
              属性名 = 属性名.slice(7)
              let id = tempid
              let tmpobj = {id,属性名,属性值}
              tempattrarry.push(tmpobj)}
            }
            console.log("attr",tempattrarry)
            return tempattrarry
          },
          //目前需要增加块属性的提取
          sqlattrgetter: async function(rawstring){
            finalstring =  "select * from blocks where " + rawstring
            let datas = {"stmt": finalstring} 
            console.log("sql",finalstring)
            let jsondatas = JSON.stringify(datas)
            let sqltemp = {} 
            await axios({
              method:'POST',
              url:'http://127.0.0.1:6806/api/query/sql',
              headers:{'Authorization': 'Token' + this.apitoken},
              data:(jsondatas)
              }).then(result =>{
              let sqldataitem = result.data["data"]
              sqltemp = sqldataitem 
              })
              console.log("resultdata",sqltemp)
              let tempattrdata = sqltemp
              for(i=0;i<tempattrdata.length;i++){
                let tempblockitem =  tempattrdata[i]
                let tempid = tempblockitem['id']
                tempblockitem['customattrarry'] = await this.cusattrrefactor(tempid)
                tempblockitem['tempcustomattrarry'] = []
                console.log(tempblockitem) 
              }
              console.log(tempattrdata)
              if(this.issqlon){
                this.attrdata = sqltemp
              }

              console.log("sqltemp",sqltemp)
              return sqltemp
            },
          sqlattrsave: function(rawstring){
            this.selfid = self.frameElement.parentElement.parentElement.getAttribute('data-node-id')
            let datas1 = {}
            datas1["id"] = this.selfid
            datas1["attrs"] = {}
            datas1["attrs"] = {"custom-sql":rawstring}
            this.attrposter(datas1)
          },
          //根据id来清理块集合，sql模式下不可用，参数为all时全部清空。
          attrdataclear: function(id){
            console.log(id)
            if (id != 'all') {
            for (i=0;i<this.attrdata.length;i++){
              let tempobj = this.attrdata[i]
              if (id == tempobj["id"]){
                this.attrdata.splice(i,1)
              }
            }
            }
            else {              
              console.log(id)
              this.attrdata=[]}
          },
          getid: function(id,attr){
            for (item in attr){
              item["id"] = id
            }
          },
          cusattrappender: function(id,data){
            cuteid = id
            data.push({"id":cuteid,"属性名":"","属性值": ""})
          },
          currentattrgetter: function(id,name){
            for (i=0;i<this.attrdata.length;i++){
              let tempobj = this.attrdata[i]
              if (id == tempobj["id"]){
                currentcusattr=tempobj[name]
              }
            }
            console.log("1111",currentcusattr)
            return (currentcusattr)
            },
          customdeleter:async function(id,属性名,dataname){
            let attrdata = this.attrdata
              let datas = ({
                  })
              datas["id"] = id
              datas["attrs"] = {}
              datas["attrs"]["custom-"+属性名] = ""
              await this.attrposter(datas)
              let currentcusattr = this.currentattrgetter(id,dataname)
              for (i=0;i<currentcusattr.length;i++){
                if (currentcusattr[i]["属性名"] == 属性名){
                  currentcusattr.splice(i,1)
                }
              }
          },
          customsetters:async function(id){
              let currentcusattr = this.currentattrgetter(id,'customattrarry')
              let currenttempcusattr = this.currentattrgetter(id,"tempcustomattrarry")
              this.differpush(currentcusattr,currenttempcusattr,"属性名")
              for (i=0;i<currentcusattr.length;i++){
                if (currentcusattr[i]["属性名"]=="") {
                  currentcusattr.splice(i,1)
                }
              }
              await this.customqueryposter(id,currentcusattr)
              for (i=0;i<currentcusattr.length;i++){
                if (currentcusattr[i]["属性值"]=="") {
                  currentcusattr.splice(i,1)
                }
              }
              for (i=0;i<=currenttempcusattr.length;++i){
                currenttempcusattr.splice(i,1)
                currenttempcusattr.splice(0,1)
                console.log(currenttempcusattr)
              }

              console.log(currentcusattr)
            },
          customqueryposter:async function(id,data){
            let postdatas = ({
                  })
            postdatas["id"] = id
            postdatas["attrs"] = {}
            for (i=0;i<data.length;i++){
                let tempattr = data[i]
                let tempname = "custom-"+tempattr["属性名"]
                let tempvalue = tempattr["属性值"]
                postdatas["attrs"][tempname] = tempvalue
              }
              console.log("cusset",postdatas)
            await this.attrposter(postdatas)
          },

          setters: function(data,ikey,value){
            id=data["id"]
            console.log(data)
            console.log(id,ikey,value)
            var datas = ({
                  })
            datas["id"] = id
            datas["attrs"] = {}
            datas["attrs"][ikey] = value
            console.log(datas)
            this.attrposter(datas)
            },
          attrposter: function(datas){
            let jsondatas = JSON.stringify(datas)
            console.log(datas)
            axios({
              method:'POST',
              headers:{'Authorization': 'Token' + this.apitoken},
              url:'http://127.0.0.1:6806/api/attr/setBlockAttrs',
              data:(jsondatas)
              })
          },
          domidgetter:  function (a){
          let flag = this.mergeflag
          if (flag == false){
            this.dominputid =[]
          }
          var nodeSelected1 = Array.from(window.parent.document.querySelectorAll("[class ~= 'protyle-wysiwyg--select']"))
          var attrarry = []
          var tempattrsobj = {}
          nodeSelected1.forEach(element=>{
            var tempcustomattr = {}
            var tempcustomattrarry = []
            Array.from(element.attributes).forEach(attr =>{
              let tempname = attr.name
              let tempvalue = attr.value
              if  (tempname == "data-node-id") 
              {this.dominputid.push(tempvalue)}
            })
          })
          console.log(this.dominputid)
          },
          idquerydatashower:async function(){
            let cusattr = await this.sqlcusgetter(this.selfid)
            let tempobjstring = cusattr["custom-idquery"]
            let tempobj = JSON.parse(tempobjstring)
            console.log(tempobj)
            let tempquery = Object.values(tempobj) 
            console.log(tempquery)
            this.dominputid = tempquery
            console.log(this.dominputid)
            let domidtoselector = ""
            this.dominputid.forEach(id=>
            {
              domidtoselector =domidtoselector + "id =" + '"'+id+'"'+" or "
            })
            domidtoselector = domidtoselector.substring(0,domidtoselector.length - 3)
            console.log(domidtoselector)
            temitemquery = await this.sqlattrgetter(domidtoselector)
            console.log("temp",temitemquery)
            this.attrdata = temitemquery
          },
          domdatashower:async function (){
            this.domidgetter()
            let temitemquery = []
            console.log(this.dominputid)
            let domidtoselector = ""
            this.dominputid.forEach(id=>
            {
              domidtoselector =domidtoselector + "id =" + '"'+id+'"'+" or "
            })
            domidtoselector = domidtoselector.substring(0,domidtoselector.length - 3)
            console.log(domidtoselector)
            temitemquery = await this.sqlattrgetter(domidtoselector)
            console.log("temp",temitemquery)
            //let flag = this.mergeflag
            //if (flag == false){
            //this.attrdata = temitemquery}
            ///else{this.differpush(this.attrdata,temitemquery,"id")
            //}
            this.attrdata = temitemquery
          },
        differpush: function(a,b,flag){
          let realflag = flag
          if (a==[{}]){
            for(i=0;i<b.length;i++){
              a.push(b[i])
            }
          }
          for(i in b){
            var flager1 = true
            let temp1 = b[i]
            let flagvalue = temp1[realflag]
            for(j in a){
              let tempinput = a
              let tempobj2 = tempinput[j]
              if (flagvalue ==  tempobj2[realflag])
              {flager1 = false}  
            } 
            if (flager1){
              a.push(temp1)
            }
            }
          },
        },  
      })

</script>
<script>
</script>
</html>
